.navContainer {
  width: 100%;

  .navList {
    padding: 0;

    .navItem {
      display: block;
      width: 100%;

      .navButton {
        border-radius: 8px;
        margin: 4px 8px;
        transition: all 0.2s ease-in-out;

        &.active {
          font-weight: 600;

          .navText {
            font-weight: 600;
          }
        }
      }
    }
  }
}
